@import "tailwindcss";

/* Reseteo básico para que ocupe toda la pantalla */
body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #050816; /* Color de fondo base de tu Dashboard */
  color: white;
  font-family: system-ui, -apple-system, sans-serif;
}

/* Asegura que el contenedor principal crezca */
#root {
  display: flex;
  flex-direction: column;
}